table {
	margin: 1em;
}

table,
th,
td {
	font-size: medium;
	border: solid black;
	border-collapse: collapse;
	font-size: 16pt;
}

th {
	text-align: center;
	background-color: lightblue;
}

#item {
	text-align: left;
}

#price {
	text-align: center;
}
